.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */;
    background-image: url(./default_video_thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
    > .react-player,
    > .editable-no__video {
        position: absolute;
        top: 0;
        left: 0;
    }
}
