<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <link rel="icon" href="./favicon.ico" />
        <meta name="og:image" conmtent="IMAGE_URL" />
        <meta name="og:title" content="React App" />
        <meta name="description" content="Web site created using create-react-app" />
        <meta name="og:description" content="Web site created using create-react-app" />
        <link rel="apple-touch-icon" href="./logo192.png" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <!-- <link id="main_stylesheet" href="/assets/index.css" rel="stylesheet" /> -->

        <link id="FONT_THEME_LINK" href="" rel="stylesheet" />
        <style id="FONT_THEME_STYLE"></style>
        <style id="SOLTIVO_THEME_COLORS"></style>
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
        <!-- <script id="main_script" src="/assets/index.js"></script> -->
    </body>
</html>
