@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#about {
    width: 100%;
    height: 70vh;
    background-color: var(--background);
    @include containerPaddingH;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    > * {
        width: 100%;
    }

    .about--content {
        padding-right: 20%;
        h2 {
            @include setFontSize(xl);
            color: var(--text);
        }
        p {
            @include setFontSize(lg);
            color: var(--text);
            opacity: 0.5;
        }
    }

    .about--img {
        margin-top: 40px;
        width: 100%;
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }

    @media (max-width: 950px) {
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        @include containerPaddingV;
        .about--content {
            padding: 0px;
            margin-bottom: 40px;
            text-align: center;
            h2 {
                @include setFontSize(xl);
            }
            p {
                @include setFontSize(lg);
            }
        }
    }

    @media (max-width: 768px) {
        .about--content {
            h2 {
                @include setFontSize(xl);
            }
            p {
                @include setFontSize(md);
            }
        }
    }
}
